<%= render :partial => "header", :object => {
  "title" => "UPD89",
  "actions" =>[]
} %>

<div class="col_12">
  <p class="col_12">Hello, <%= link_to current_user.name, user_path(current_user.id) %>!</p>

  <div class="col_8 dashboard_box sysBG">
    <h4>Systems</h4>
    <div class="col_6">
      <div id="systemChart"
           data-total="<%= @systems.count %>"
           data-ok="<%= get_systems_without_updates_or_queued.count %>"
           data-progress="<%= get_systems_with_queued_updates.count %>"
           data-warning="<%= get_systems_with_available_updates_only.count %>"></div>
    </div>
    <div class="col_6">
      <ul>
        <li><%= @systems.count %> Systems present</li>
        <% if get_not_recently_seen_systems.count > 0 %>
        <li><%= get_not_recently_seen_systems.count %> <%= "System".pluralize(get_not_recently_seen_systems.count) %> not seen in past <%= Settings.Systems.NotSeenWarningThresholdMinutes / 60 %> hours <%= link_to("(Check)", systems_path( filterrific: { sorted_by: "last_seen_asc" } ) ) %></li>
        <% end %>
        <% if get_systems_without_group.count > 0 %>
        <li><%= get_systems_without_group.count %> <%= "System".pluralize(get_systems_without_group.count) %> not in a group</li>
        <% end %>
      </ul>

      <% if get_systems_without_group.count > 0 %>
        <%= link_to("Assign to a group", :assign_systems, class: "button") %>
      <% end %>
    </div>
    <div class="floatFix"></div>
  </div>

  <div class="col_4 dashboard_box pkgBG">
    <h4>Packages</h4>

    <ul>
      <li><%= @packages.count %> known <%= "Package".pluralize(@packages.count) %></li>
      <% if get_packages_without_group.count > 0 %>
      <li><%= get_packages_without_group.count %> <%= "Package".pluralize(get_packages_without_group.count) %> not in a group</li>
      <% end %>
    </ul>

    <% if get_packages_without_group.count > 0 %>
      <%= link_to("Assign to groups", :assign_packages, class: "button") %>
    <% end %>
    <div class="floatFix"></div>
  </div>

  <div class="floatFix"></div>

  <div class="col_6 dashboard_box">
    <h4>Tasks</h4>

    <% if get_running_tasks.count + get_failed_tasks.count + get_overdue_tasks.count == 0 %>
      <p>Nothing to report!</p>
    <% end %>

    <ul class="noDots">
    <% if get_running_tasks.count > 0 %>
      <li><%= get_running_tasks.count %> pending <%= link_to( "Task".pluralize(get_running_tasks.count)  , tasks_path( filterrific: { with_state_id: TaskState.where(name: "Pending")[0].id } ) ) %></li>
    <% end %>

    <% if get_failed_tasks.count > 0 %>
      <li class="errorText"><i class="fa fa-exclamation-triangle"></i> <%= get_failed_tasks.count %> failed <%= "Task".pluralize(get_failed_tasks.count) %>! (<%= link_to("Check", tasks_path( filterrific: { with_state_id: TaskState.where(name: "Failed")[0].id } ) ) %>)</li>
    <% end %>

    <% if get_overdue_tasks.count > 0 %>
      <li class="warnText"><i class="fa fa-clock-o"></i> <%= get_overdue_tasks.count %> <%= "Task".pluralize(get_overdue_tasks.count) %> overdue!
          <% get_overdue_tasks.take( Settings.Dashboard.NrOfOverdueTasksShown ).each do |task| %>
          <div><%= task.decorated_created_at %> (<%= task.task_state.name %>) <%= link_to "Cancel", task_path( task ), method: :delete %> <%= link_to "Check", task_path( task )  %></div>
          <% end %>
          <% if get_overdue_tasks.count > Settings.Dashboard.NrOfOverdueTasksShown %>...<% end %>
      </li>
    <% end %>

    </ul>

    <div class="floatFix"></div>
  </div>

  <div class="col_6 dashboard_box sysBG">
    <h4><%= link_to( "Available Updates", concrete_package_versions_path( filterrific: { with_state_id: ConcretePackageState.where(name: "Available")[0].id } ) ) %></h4>
    <div class="col_6">
      <h6>By System:</h6>
      <% @updatable_systems.take( Settings.Dashboard.NrOfEntitiesWithUpdatesShown ).each do |sys| %>
        <div><%= link_to(sys.name, sys) + ": " + sys.get_installable_CPVs.count.to_s %></div>
      <% end %>
      <% if @updatable_systems.count > Settings.Dashboard.NrOfEntitiesWithUpdatesShown %>...<% end %>
    </div>

    <div class="col_6">
      <h6>By Group:</h6>
      <% @updatable_system_groups.take( Settings.Dashboard.NrOfEntitiesWithUpdatesShown ).each do |sys_grp| %>
        <div><%= link_to(sys_grp.name, sys_grp) + ": " + sys_grp.get_nr_of_installable_CPVs.to_s %></div>
      <% end %>
      <% if @updatable_system_groups.count > Settings.Dashboard.NrOfEntitiesWithUpdatesShown %>...<% end %>
    </div>
    <div class="floatFix"></div>
  </div>

  <div class="col_12 dashboard_box">
    <h4>Recent Activity</h4>
    <% get_tasks_for_recent_activities.each do |t| %>
      <div><%= link_to( t.to_full_sentence + t.state_description, t) %></div>
    <% end %>
    <div class="floatFix"></div>
  </div>
</div>

<div class="floatFix"></div>
