<%= render :partial => "header", :object => {
  "title" => "UPD89",
  "actions" =>[]
} %>

<div class="col_12">
  <p>Hello, <%= link_to current_user.name, edit_user_path(current_user.id) %>!</p>
  <h4>Systems:</h4>
  <ul>
    <li><%= @systems.count %> Systems present</li>
    <li><%= get_not_recently_seen_systems.count %> Systems not seen in past 4 hours</li>
    <li><%= get_systems_without_group.count %> Systems not in a group</li>
  </ul>

  <h4>Packages:</h4>
  <ul>
    <li><%= @packages.count %> known Packages</li>
    <li><%= get_packages_without_group.count %> Packages not in a group</li>
  </ul>

  <h4>Tasks:</h4>
  <ul>
    <li><%= get_running_tasks.count %> pending Tasks</li>
    <li><%= get_failed_tasks.count %> failed Tasks</li>
  </ul>

  <% if get_systems_without_group.count > 0 || get_packages_without_group.count > 0 %>
    <%= link_to("Assign to groups", :assign) %>
  <% end %>

</div>

<div class="floatFix"></div>
