<%= render :partial => "header", :object => {
  "title" => "Repositories",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Repository",
    "path" => new_repository_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Archive</th>
      <th>Component</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.origin %></td>
        <td><%= repository.archive %></td>
        <td><%= repository.component %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, repository %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_repository_path(repository) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, repository, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
