<%= render :partial => "header", :object => {
  "title" => "Group Assignments",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Group assignment",
    "path" => new_group_assignment_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Package group</th>
      <th>Package</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_assignments.each do |group_assignment| %>
      <tr>
        <td><%= group_assignment.package_group %></td>
        <td><%= group_assignment.package %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, group_assignment %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_group_assignment_path(group_assignment) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, group_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
