<%= form_for(@system_update) do |f| %>
  <% if @system_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_update.errors.count, "error") %> prohibited this system_update from being saved:</h2>

      <ul>
      <% @system_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :system_update_state_id %></span>
        <span class="value"><%= f.collection_select(:system_update_state_id, SystemUpdateState.all, :id, :name) %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :package_update_id %></span>
        <span class="value"><%= f.collection_select(:package_update_id, PackageUpdate.all, :id, :package) %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :system_id %></span>
        <span class="value"><%= f.collection_select(:system_id, System.all, :id, :name) %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :task_id %></span>
        <span class="value"><%= f.text_field :task_id %></span>
      </p>
    </li>
  </ul>

  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
