<%= render :partial => "header", :object => {
  "title" => "System Update",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => system_updates_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_system_update_path(@system_update)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @system_update,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this system update?"
  }]
} %>

<p id="notice"><%= notice %></p>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">System update state</span>
      <span class="value"><%= @system_update.system_update_state.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Package Name</span>
      <span class="value"><%= @system_update.package_update.package.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Candidate Version</span>
      <span class="value"><%= @system_update.package_update.candidate_version %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">System</span>
      <span class="value"><%= @system_update.system.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Task</span>
      <span class="value"><%= @system_update.task %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>
