<%= render :partial => "header", :object => {
  "title" => "Assign to System-Group",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => root_path
  }]
} %>

<div class="col_12">
<% if @systems.count > 0 %>
  <h4>Systems</h4>
  <table class="striped tight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Registered at</th>
        <th>URN</th>
        <th>System Group</th>
      </tr>
    </thead>
    <tbody>
      <% @systems.each do |system| %>
        <tr>
          <td><%= system.name %></td>
          <td><%= system.decorated_created_at %></td>
          <td><%= system.urn %></td>
          <td>
            <%= form_for(system, remote: true) do |f| %>
              <%= f.collection_select(:system_group_id, SystemGroup.all, :id, :name, {}, onchange: "$(this).parent('form').submit(); $(this).parents('tr').remove();") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
<div class="floatFix"></div>
