<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :task_state_id %></span>
        <span class="value"><%= f.collection_select(:task_state_id, TaskState.all, :id, :name) %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :task_execution_id %></span>
        <span class="value"><%= f.text_field :task_execution_id %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :job_id %></span>
        <span class="value"><%= f.collection_select(:job_id, Job.all, :id) %></span>
      </p>
    </li>
  </ul>

  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
