<%= render :partial => "header", :object => {
  "title" => "Tasks",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Task",
    "path" => new_task_path
  }]
} %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Task state</th>
      <th>Task execution</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_tasks.each do |task| %>
      <tr>
        <td><%= task.task_state %></td>
        <td><%= task.task_execution %></td>
        <td><%= task.job %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_tasks %>
  </div>
  <%= will_paginate @paginated_tasks, :container => false %>
</div>

<br>
