<%= render :partial => "header", :object => {
  "title" => "Tasks",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Task",
    "path" => new_task_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Task state</th>
      <th>Task execution</th>
      <th>System</th>
      <th>Job</th>
      <th>Updates</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_tasks.each do |task| %>
      <tr>
        <td><%= task.task_state.name if task.task_state %></td>
        <td><%= task.task_execution %></td>
        <td><%= task.concrete_package_versions.first.system.name if task.concrete_package_versions.length > 0 %></td>
        <td><%= task.job.id if task.job %></td>
        <td><%= task.concrete_package_versions.length %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, task %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_task_path(task) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_tasks %>
  </div>
  <%= will_paginate @paginated_tasks, :container => false %>
</div>
