<%= render :partial => "header", :object => {
  "title" => "Task",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => tasks_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_task_path(@task)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @task,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this task?"
  }]
} %>

<p id="notice"><%= notice %></p>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Task state</span>
      <span class="value"><%= @task.task_state.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Task execution</span>
      <span class="value"><%= @task.task_execution %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Job</span>
      <span class="value"><%= link_to @task.job.id, @task.job %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>
