<%= render :partial => "header", :object => {
  "title" => "Task",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => tasks_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_task_path(@task)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @task,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this task?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Task state</span>
      <span class="value"><%= @task.task_state.name if @task.task_state %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Task execution</span>
      <span class="value"><%= @task.task_execution %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">System</span>
      <span class="value">
        <% if @task.concrete_package_versions.length > 0 %>
          <%= link_to @task.concrete_package_versions.first.system.name, @task.concrete_package_versions.first.system %>
        <% end %>
      </span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Job</span>
      <span class="value"><%= link_to @task.job.id, @task.job %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Updates</span>
      <span class="value"><%= @task.concrete_package_versions.length %></span>
    </p>
  </li>
</ul>

<% if @task.concrete_package_versions.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Package</th>
        <th>Candidate Version</th>
        <th>System update state</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @paginated_concrete_package_versions.each do |concrete_pkg_version| %>
        <tr>
          <td><%= link_to concrete_pkg_version.package_version.package.name, concrete_pkg_version.package_version.package %></td>
          <td><%= link_to concrete_pkg_version.package_version.version, concrete_pkg_version.package_version %></td>
          <td><%= concrete_pkg_version.concrete_package_state.name %></td>
          <td><%= link_to concrete_pkg_version.id, concrete_pkg_version %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @paginated_concrete_package_versions %>
    </div>
    <%= will_paginate @paginated_concrete_package_versions, :container => false %>
  </div>
<% end %>

<div class="floatFix"></div>
