<%= render :partial => "header", :object => {
  "title" => "Concrete Package Versions",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Concrete package version",
    "path" => new_concrete_package_version_path,
    "ctrlAction" => :create
  }]
} %>

<%= form_for_filterrific @filterrific, html: { class:"col_12" } do |f| %>
  <% if false %>
  <div class="col_3">
    <label for="sys_search_query">Search in Concrete Package Versions</label>
    <%= f.text_field(
      :sys_search_query,
      class: 'filterrific-periodically-observed',
      id: 'sys_search_query'
    ) %>
  </div>

  <div class="col_3">
    <label for="sort_by">Sorted by</label>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], id: 'sort_by') %>
  </div>
  <% end %>

  <div class="col_3">
    <label for="state_select">State</label>
    <%= f.select( :with_state_id, @filterrific.select_options[:with_state_id], { include_blank: '- Any -' }, id: 'state_select') %>
  </div>

  <div class="col_3 right">
    <%= link_to( 'Reset filters', reset_filterrific_url, class: "button" ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<div id="filterrific_table" class="col_12">
  <%= render(
    partial: 'concrete_package_versions/list',
    locals: { concrete_package_versions: @concrete_package_versions }
  ) %>
</div>

<div class="floatFix"></div>
