<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :started_at %></span>
        <span class="value"><%= f.datetime_select :started_at %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :user_id %></span>
        <span class="value"><%= f.collection_select(:user_id, User.all, :id, :name) %></span>
      </p>
    </li>
  </ul>

  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
