<%= render :partial => "header", :object => {
  "title" => "Jobs",
  "entity" => @jobs.first,
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Job",
    "path" => new_job_path,
    "ctrlAction" => :create
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Started at</th>
      <th>User</th>
      <th>Tasks</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_jobs.each do |job| %>
      <tr>
        <td><%= job.decorated_started_at %></td>
        <td><%= job.user.name if job.user %></td>
        <td><%= job.tasks.length %></td>
        <td><%= job.get_note %></td>
        <td>
          <ul class="button-bar">
            <% if can? :read, job    %><li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, job %></li><% end %>
            <% if can? :update, job  %><li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_job_path(job) %></li><% end %>
            <% if can? :destroy, job %><li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, job, method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_jobs %>
  </div>
  <%= will_paginate @paginated_jobs, :container => false %>
</div>

<br>
