<%= render :partial => "header",
:object => {
  "title" => "Job " + params[:id],
  "entity" => @job,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => jobs_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_job_path(@job),
    "ctrlAction" => :edit
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @job,
    "ctrlAction" => :destroy,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this job?"
  }]
} %>

<% if @job.is_in_preview %>
  <h5 class="col_12">Please review the job</h5>
<% end %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Started at</span>
      <span class="value"><%= @job.decorated_started_at %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">User</span>
      <span class="value"><%= @job.user.name %></span>
    </p>
  </li>
</ul>

<% if @tasks.length %>
  <% @tasks.each do |task| %>
    <div class="col_12">
      <p><%= pluralize(task.concrete_package_versions.length, "Update") %> on System <%= link_to task.system_name, task.get_system %> (<%= task.task_state.name if task.task_state %>) <%= link_to "Details", task %><%= task.task_execution ? (" | ").html_safe + link_to( "Log", task.task_execution ) : "" %></p>

      <ul>
        <% task.concrete_package_versions.each do |cpv| %>
          <li>
            Package: <%= cpv.package_version.package.name %>, Candidate Version: <%= cpv.package_version.version %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @job.is_in_preview %>
  <div class="actions col_12">
    <%= form_for @job, url: { action: "execute" }, html: { method: :put } do |f| %>
      <%= submit_tag "Execute Job", name: 'execute', id: "executeJobBtn" %>
      <%= submit_tag "Cancel Job", name: 'cancel', id: "cancelJobBtn" %>
    <% end %>
  </div>
<% end %>

<div class="floatFix"></div>
