<%= render :partial => "header",
:object => {
  "title" => "Job " + params[:id],
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => jobs_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_job_path(@job)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @job,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this job?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Started at</span>
      <span class="value"><%= @job.started_at %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">User</span>
      <span class="value"><%= @job.user.name %></span>
    </p>
  </li>
</ul>

<% if @paginated_tasks.length %>
<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Execution</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @paginated_tasks.each do |task| %>
      <tr>
        <td><%= task.task_state.name %></td>
        <td><%= task.task_execution %></td>
        <td><%= link_to task.id, task %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_tasks %>
  </div>
  <%= will_paginate @paginated_tasks, :container => false %>
</div>
<% end %>

<div class="floatFix"></div>
