<p id="notice"><%= notice %></p>

<p>
  <strong>Started at:</strong>
  <%= @job.started_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
