<%= form_for(@task_execution) do |f| %>
  <% if @task_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_execution.errors.count, "error") %> prohibited this task_execution from being saved:</h2>

      <ul>
      <% @task_execution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :log %><br>
    <%= f.text_field :log %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
