<p id="notice"><%= notice %></p>

<h1>Listing Task Executions</h1>

<table>
  <thead>
    <tr>
      <th>Log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_executions.each do |task_execution| %>
      <tr>
        <td><%= task_execution.log %></td>
        <td><%= link_to 'Show', task_execution %></td>
        <td><%= link_to 'Edit', edit_task_execution_path(task_execution) %></td>
        <td><%= link_to 'Destroy', task_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task execution', new_task_execution_path %>
