<%= render :partial => "header", :object => {
  "title" => "Task Executions",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Task Execution",
    "path" => new_task_execution_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Log</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_task_executions.each do |task_execution| %>
      <tr>
        <td><%= task_execution.log %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, task_execution %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_task_execution_path(task_execution) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, task_execution, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_task_executions %>
  </div>
  <%= will_paginate @paginated_task_executions, :container => false %>
</div>
