<%= render :partial => "header", :object => {
  "title" => "Task Executions",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Task Execution",
    "path" => new_task_execution_path
  }]
} %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_task_executions.each do |task_execution| %>
      <tr>
        <td><%= task_execution.log %></td>
        <td><%= link_to 'Show', task_execution %></td>
        <td><%= link_to 'Edit', edit_task_execution_path(task_execution) %></td>
        <td><%= link_to 'Destroy', task_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_task_executions %>
  </div>
  <%= will_paginate @paginated_task_executions, :container => false %>
</div>

<br>
