<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :name %></span>
        <span class="value"><%= f.text_field :name %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :email %></span>
        <span class="value"><%= f.text_field :email %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :role_id %></span>
        <span class="value"><%= f.collection_select(:role_id, Role.all, :id, :name) %></span>
      </p>
    </li>
  </ul>
  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :password %></span>
        <span class="value"><%= f.password_field :password%></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :password_confirmation %></span>
        <span class="value"><%= f.password_field :password_confirmation%></span>
      </p>
    </li>
  </ul>
  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
