<%= render :partial => "header", :object => {
  "title" => "Package Updates",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Package Update",
    "path" => new_package_update_path
  }]
} %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Candidate version</th>
      <th>Repository</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginated_package_updates.each do |package_update| %>
      <tr>
        <td><%= link_to package_update.package.name, package_update.package %></td>
        <td><%= package_update.candidate_version %></td>
        <td><%= package_update.repository %></td>
        <td><%= link_to 'Show', package_update %></td>
        <td><%= link_to 'Edit', edit_package_update_path(package_update) %></td>
        <td><%= link_to 'Destroy', package_update, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_package_updates %>
  </div>
  <%= will_paginate @paginated_package_updates, :container => false %>
</div>

<br>
