<%= render :partial => "header", :object => {
  "title" => "Package Update",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => package_updates_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_package_update_path(@package_update)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @package_update,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this package update?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Candidate version</span>
      <span class="value"><%= @package_update.candidate_version %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Repository</span>
      <span class="value"><%= @package_update.repository %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Package</span>
      <span class="value"><%= @package_update.package.name %></span>
    </p>
  </li>
</ul>

<% if @system_updates.length %>
<table>
  <thead>
    <tr>
      <th>System</th>
      <th>Package</th>
      <th>System update state</th>
    </tr>
  </thead>
  <tbody>
    <% @paginated_system_updates.each do |system_update| %>
      <tr>
        <td><%= link_to system_update.system.name, system_update.system %></td>
        <td><%= link_to system_update.package_update.package.name, system_update.package_update.package %></td>
        <td><%= system_update.system_update_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_system_updates %>
  </div>
  <%= will_paginate @paginated_system_updates, :container => false %>
</div>

<% end %>
