<div id="filterrific_results">
  <table class="striped tight clickableRows">
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Homepage</th>
      <th>Summary</th>
    </tr>
    <% @group_assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.package.name %></td>
        <td><%= assignment.package.section %></td>
        <td><a href="<%= assignment.package.homepage %>"><%= assignment.package.nice_url %></a></td>
        <td><%= assignment.package.summary %></td>
      </tr>
    <% end %>
  </table>

  <div class="pagination col_12">
    <div class="page_info col_6">
      <%= page_entries_info @group_assignments %>
    </div>
    <div class="col_6">
      <%= will_paginate @group_assignments, :container => false %>
    </div>
  </div>

</div>
