<%= render :partial => "header", :object => {
  "title" => "Package Groups",
  "entity" => @package_groups.first,
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Package group",
    "path" => new_package_group_path,
    "ctrlAction" => :create
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permission level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @package_groups.each do |package_group| %>
      <tr>
        <td><%= package_group.name %></td>
        <td><%= package_group.permission_level %></td>
        <td>
          <ul class="button-bar">
            <% if can? :read, package_group    %><li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, package_group %></li><% end %>
            <% if can? :update, package_group  %><li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_package_group_path(package_group) %></li><% end %>
            <% if can? :destroy, package_group %><li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, package_group, method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
