<%= render :partial => "header", :object => {
  "title" => "Package Group " + @package_group.name,
  "entity" => @package_group,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => package_groups_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_package_group_path(@package_group),
    "ctrlAction" => :edit
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @package_group,
    "ctrlAction" => :destroy,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this package group?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @package_group.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Permission level</span>
      <span class="value"><%= @package_group.permission_level %></span>
    </p>
  </li>
</ul>


<%= form_for_filterrific @filterrific, html: { class:"col_12" } do |f| %>

  <div class="col_3">
    <label for="pkg_search_query">Search</label>

    <%= f.text_field(
    :pkg_search_query,
    class: 'filterrific-periodically-observed',
      id: 'pkg_search_query'
      ) %>
  </div>

  <%= render_filterrific_spinner %>

  <%= link_to( 'Reset filters', reset_filterrific_url, class: "button" ) %>
<% end %>

<div id="filterrific_table" class="col_12">
  <%= render(
    partial: 'package_groups/list',
    locals: { group_assignments: @group_assignments }
  ) %>
</div>

<div class="floatFix"></div>
