<p id="notice"><%= notice %></p>

<h1>Listing Package Installations</h1>

<table>
  <thead>
    <tr>
      <th>System</th>
      <th>Package</th>
      <th>Installed version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_installations.each do |package_installation| %>
      <tr>
        <td><%= link_to package_installation.system.name, package_installation.system %></td>
        <td><%= link_to package_installation.package.name, package_installation.package %></td>
        <td><%= package_installation.installed_version %></td>
        <td><%= link_to 'Show', package_installation %></td>
        <td><%= link_to 'Edit', edit_package_installation_path(package_installation) %></td>
        <td><%= link_to 'Destroy', package_installation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Package installation', new_package_installation_path %>
