<%= render :partial => "header", :object => {
  "title" => "Package Installation " + @package_installation.name,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => package_installations_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_package_installation_path(@package_installation)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @package_installation,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this package installation?"
  }]
} %>

<p id="notice"><%= notice %></p>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Installed version</span>
      <span class="value"><%= @package_installation.installed_version %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Package</span>
      <span class="value"><%= @package_installation.package.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">System</span>
      <span class="value"><%= @package_installation.system.name %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>
