<%= render :partial => "header", :object => {
  "title" => "System Groups",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New System group",
    "path" => new_system_group_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permission level</th>
      <th>Systems</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_groups.each do |system_group| %>
      <tr>
        <td><%= system_group.name %></td>
        <td><%= system_group.permission_level %></td>
        <td><%= system_group.systems.count %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, system_group %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_system_group_path(system_group) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, system_group, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
