<%= render :partial => "header", :object => {
  "title" => "System Groups",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New System Group",
    "path" => new_system_group_path
  }]
} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Permission level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_groups.each do |system_group| %>
      <tr>
        <td><%= system_group.name %></td>
        <td><%= system_group.permission_level %></td>
        <td><%= link_to 'Show', system_group %></td>
        <td><%= link_to 'Edit', edit_system_group_path(system_group) %></td>
        <td><%= link_to 'Destroy', system_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
