<%= render :partial => "header", :object => {
  "title" => "Assign to Package-Groups",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => root_path
  }]
} %>
<div class="col_12">
<% if @packages.count > 0 %>
  <h4>Packages</h4>
  <table class="striped tight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Homepage</th>
        <th>Package Groups</th>
      </tr>
    </thead>
    <tbody>
      <% @packages.each do |package| %>
        <tr>
          <td><%= package.name %></td>
          <td><%= package.section %></td>
          <td><a href="<%= package.homepage %>"><%= package.nice_url %></a></td>
          <td>
            <td>
              <%= form_for(package, remote: true) do |f| %>
              <% end %>
            </td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>

<div class="floatFix"></div>
