<%= render :partial => "header", :object => {
  "title" => "Assign to Package-Groups",
  "class" => "pkgText",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => root_path
  }]
} %>
<div class="col_12">
<% if @packages.count > 0 %>
  <h4 class="pkgText">Packages</h4>
  <table class="striped tight" id="packageList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Homepage</th>
        <th>Package Groups</th>
      </tr>
    </thead>
    <tbody>
      <% @packages.each do |package| %>
        <tr id="package_<%= package.id %>">
          <td><%= package.name %></td>
          <td><%= package.section %></td>
          <td><a href="<%= package.homepage %>"><%= package.nice_url %></a></td>
          <td>
            <td>
              <ul data-package-id="<%= package.id %>" class="selected-groups noDots"></ul>

              <%= form_tag( { controller: "group_assignments", action: "create_remote", remote: true }, class: "addPackageGroupForm" ) do %>
                <% pkg_grps = PackageGroup.where.not(name: package.get_group_names_array ) %>
                <% if pkg_grps.size > 0 %>
                  <%= select( "group_assignment", "package_group_id", pkg_grps.collect {|p| [ p.name, p.id ] }, { include_blank: 'Assign to group ' }, class: 'grp_select' ) %>
                <% end %>
              <% end %>

            </td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <button id="btnSaveAssignments">Save Assignments</button>
<% end %>
</div>

<div class="floatFix"></div>
