<div id="filterrific_results">

  <table class="striped tight clickableRows">
    <tr>
      <th>Selected</th>
      <th><%= filterrific_sorting_link(@filterrific, :id) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :name) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :section) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :nr_of_systems) %></th>
      <th></th>
    </tr>
    <% system_package_relations.each do |spr| %>
      <tr>
        <th></th>
        <th><%= spr.pkg_id %></th>
        <td><%= spr.pkg_name %></td>
        <td><%= spr.pkg_section %></td>
        <td><%= spr.sys_count %></td>
	<td><ul class="button-bar">
           <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, controller: "/system_package_relations", action: "show", id: spr.pkg_id %></li>
        </ul>
      </tr>
    <% end %>
  </table>

  <div class="pagination col_12">
    <div class="page_info col_6">
      <%= page_entries_info @system_package_relations %>
    </div>
    <div class="col_6">
      <%= will_paginate @system_package_relations, :container => false %>
    </div>
  </div>

</div>


<p style="font-weight: bold">Debug</p>
<p>Filterrific</p>
<%= @filterrific %>
<p>Params</p>
<%= params["filterrific"] %>
