<h5 id="packageID" class="col_12 sysText" data-pkg-id="<%= @system_package_relations.first.pkg_id %>">Applicable Systems for <%= @system_package_relations.first.pkg_name %></h5>
<table class="striped tight comboUpdates col_12">
  <tr>
    <th>Package Version</th>
    <th>System Name</th>
    <th>System OS</th>
    <th>Include?</th>
  </tr>
  <% @system_package_relations.each do |spr| %>
    <tr data-cpv-id="<%= spr.cpv_id %>">
      <td><%= spr.version %></td>
      <td><%= spr.sys_name %></td>
      <td><%= spr.sys_os %></td>
      <td><%= check_box_tag "systems[]", spr.cpv_id, false, class: 'checkboxInstallUpdate cpv' %></td>
    </tr>
  <% end %>
</table>
