<div id="packageID" style="visibility: hidden; display: none;"><%= @system_package_relations.first.pkg_id %></div>
<h5>Applicable Systems for <%= @system_package_relations.first.pkg_name %></h5>
<table class="striped tight comboUpdates col_6">
  <tr>
    <th>Package Version</th>
    <th>System Name</th>
    <th>System OS</th>
    <th>Include?</th>
  </tr>
  <% @system_package_relations.each do |spr| %>
    <tr>
      <td><%= spr.version %></td>
      <td><%= spr.sys_name %></td>
      <td><%= spr.sys_os %></td>
      <td><%= check_box_tag "systems[]", spr.sys_id, false, class: 'checkboxInstallUpdate system' %></td>
    </tr>
  <% end %>
</table>
