<table>
  <tr>
    <th>Package ID</th>
    <th>Package Name</th>
    <th>Package Section</th>
    <th>Package Version</th>
    <th>System Name</th>
    <th>System OS</th>
  </tr>
  <% @system_package_relations.each do |spr| %>
    <tr>
      <td><%= spr.pkg_id %></td>
      <td><%= spr.pkg_name %></td>
      <td><%= spr.pkg_section %></td>
      <td><%= spr.version %></td>
      <td><%= spr.sys_name %></td>
      <td><%= spr.sys_os %></td>
    </tr>
  <% end %>
</table>
