<%= render :partial => "header", :object => {
  "title" => "Systems / Packages",
  "actions" =>[]
} %>

<%= form_for_filterrific @filterrific, html: { class:"col_12" } do |f| %>
  <div class="col_6">
    <div class="col_12">System Filters</div>

    <div class="col_3">
      <label for="sys_search_query">Search</label>
      <%= f.text_field(
        :sys_search_query,
        class: 'filterrific-periodically-observed',
        id: 'sys_search_query'
      ) %>
    </div>

    <div class="col_3">
      <label for="combo_group_select_sys">System Group</label>
      <%= f.select( :with_system_group_id, @filterrific.select_options[:with_system_group_id], { include_blank: '- Any -' }, id: 'combo_group_select_sys') %>
    </div>
  </div>

  <div class="col_6">
    <div class="col_12">Package Filters</div>

    <div class="col_3">
      <label for="pkg_search_query">Search</label>

      <%= f.text_field(
        :pkg_search_query,
        class: 'filterrific-periodically-observed',
        id: 'pkg_search_query'
      ) %>
    </div>

    <div class="col_3">
      <label for="combo_group_select_pkg">Package Group</label>
      <%= f.select( :with_package_group_id, @filterrific.select_options[:with_package_group_id], { include_blank: '- Any -' }, id: 'combo_group_select_pkg') %>
    </div>
  </div>

  <%= link_to( 'Reset filters', reset_filterrific_url, class: "button" ) %>

  <%= render_filterrific_spinner %>
<% end %>

<div id="filterrific_table" class="col_12">
  <%= render(
    partial: 'system_package_relations/list',
    locals: { system_package_relations: @system_package_relations }
  ) %>
</div>

<div class="floatFix"></div>
