<%%= render :partial => "header", :object => {
  "title" => "<%= singular_table_name.titleize %>",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => <%= index_helper %>_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @<%= singular_table_name %>,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this <%= singular_table_name.titleize %>?"
  }]
} %>

<ul class="properties col_6">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <li>
    <p>
      <span class="property"><%= attribute.human_name %></span>
      <span class="value"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></span>
    </p>
  </li>
<% end -%>
</ul>

<div class="floatFix"></div>

