<%= render :partial => "header", :object => {
  "title" => "System Update States",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New System Update State",
    "path" => new_system_update_state_path
  }]
} %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_update_states.each do |system_update_state| %>
      <tr>
        <td><%= system_update_state.name %></td>
        <td><%= link_to 'Show', system_update_state %></td>
        <td><%= link_to 'Edit', edit_system_update_state_path(system_update_state) %></td>
        <td><%= link_to 'Destroy', system_update_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
