<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :name %></span>
        <span class="value"><%= f.text_field :name %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :permission_level %></span>
        <span class="value"><%= f.number_field :permission_level %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property">Can manage users?</span>
        <span class="value"><%= f.check_box :is_user_manager %></span>
      </p>
    </li>
  </ul>

  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
