<%= render :partial => "header", :object => {
  "title" => "Roles",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Role",
    "path" => new_role_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permission level</th>
      <th>Users</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.permission_level %></td>
        <td><%= role.users.length %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, role %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_role_path(role) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, role, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
