<%= render :partial => "header", :object => {
  "title" => "Role " + @role.name,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => roles_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_role_path(@role)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @role,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this role?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @role.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Permission Level</span>
      <span class="value"><%= @role.permission_level %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Can manage users</span>
      <span class="value"><%= @role.is_user_manager ? "yes" : "no" %></span>
    </p>
  </li>
</ul>

<% if @users.length %>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @paginated_users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_users %>
  </div>
  <%= will_paginate @paginated_users, :container => false %>
</div>

<% end %>

<div class="floatFix"></div>
