<%= form_for(@system) do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="properties col_6">
    <li>
      <p>
        <span class="property">Name</span>
        <span class="value"><%= f.text_field :name %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property">URN</span>
        <span class="value"><%= f.text_field :urn %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property">OS</span>
        <span class="value"><%= f.text_field :os %></span>
      </p>
    </li>
  </ul>
  <ul class="properties col_6">
    <li>
      <p>
        <span class="property"><%= f.label :reboot_required %></span>
        <span class="value"><%= f.check_box :reboot_required %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :address %></span>
        <span class="value"><%= f.text_field :address %></span>
      </p>
    </li>
    <li>
      <p>
        <span class="property"><%= f.label :system_group_id %></span>
        <span class="value"><%= f.collection_select(:system_group_id, SystemGroup.all, :id, :name) %></span>
      </p>
    </li>
  </ul>

  <div class="actions">
    <%= f.button "Save", :class => "button" %>
  </div>
<% end %>
