<%# app/views/systems/_list.html.erb %>
<div id="filterrific_results">

  <table class="striped tight clickableRows">
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :name) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :urn) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :os) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :reboot_required) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :address) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :last_seen) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :system_group) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :registered_at) %></th>
      <th></th>
    </tr>
    <% systems.each do |system| %>
      <tr>
        <td><%= system.name %></td>
        <td><%= system.urn %></td>
        <td><%= system.os %></td>
        <td><%= system.reboot_required ? "yes" : "no" %></td>
        <td><%= system.address %></td>
        <td><%= system.decorated_last_seen %></td>
        <td><%= system.system_group.blank? ? "-" : system.system_group.name %></td>
        <td><%= system.decorated_created_at %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, system  %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_system_path(system) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, system, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="pagination col_12">
    <div class="page_info col_6">
      <%= page_entries_info @systems %>
    </div>
    <div class="col_6">
      <%= will_paginate @systems, :container => false %>
    </div>
  </div>

</div>
