<div id="filterrific_results">
  <%= form_tag({controller: "jobs", action: "create"}) do %>
    <table class="striped tight availableUpdates">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th>Update state</th>
          <th>Install?</th>
        </tr>
      </thead>
      <tbody>
        <% @concrete_package_versions.each do |concrete_pkg_version| %>
          <tr title="<%= concrete_pkg_version.package_version.package.summary %>">
            <td><%= link_to concrete_pkg_version.package_version.package.name, concrete_pkg_version.package_version.package %></td>
            <td><%= link_to concrete_pkg_version.package_version.version, concrete_pkg_version.package_version %></td>
            <td><%= concrete_pkg_version.concrete_package_state.name %></td>
            <td>
              <% if concrete_pkg_version.concrete_package_state == ConcretePackageState.where(name: "Available")[0] %>
                <%= check_box_tag "updates[]", concrete_pkg_version.id, false, class: 'checkboxInstallUpdate' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= hidden_field_tag(:system_id, @system.id) %>

    <% if @concrete_package_versions.any?{|cpv| cpv.concrete_package_state == ConcretePackageState.first } %>
    <div class="actions">
      <%= submit_tag "Create Job for Selected", :name => 'specific', :id=>"createJobBtn" %>
      <%= submit_tag "Create Job for all", :name => 'all', :id=>"createJobBtnForAll" %>
    </div>
    <% end %>

    <div class="pagination col_12">
      <div class="page_info col_6">
        <%= page_entries_info @concrete_package_versions %>
      </div>
      <div class="col_6">
        <%= will_paginate @concrete_package_versions, :container => false %>
      </div>
    </div>

  <% end %>
</div>
