<header>
  <h1 class="col_9">Edit <%= @system.name %></h1>

  <ul class="button-bar col_3">
    <li><%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, systems_path %></li>
    <li><%= link_to '<i class="fa fa-eye"></i>'.html_safe, @system %></li>
    <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, @system, method: :delete, data: { confirm: 'Are you sure you want to delete this system?' } %></li>
  </ul>
</header>

<%= render 'form' %>
