<header>
  <h1 class="col_9">Systems</h1>
  <ul class="button-bar col_3">
    <li><%= link_to '<i class="fa fa-plus"></i> New System'.html_safe, new_system_path %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>


<table class="striped tight sortable">
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>Urn</th>
      <th>Os</th>
      <th>Reboot required</th>
      <th>Address</th>
      <th>Last seen</th>
      <th colspan="2">System group</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr class="relPos" >
        <td><%= system.name %></td>
        <td class="hiddenFirstCol"><%= link_to '', system, class:"row-link"  %></td>
        <td><%= system.urn %></td>
        <td><%= system.os %></td>
        <td><%= system.reboot_required ? "yes" : "no" %></td>
        <td><%= system.address %></td>
        <td><%= system.last_seen %></td>
        <td><%= system.system_group.blank? ? "-" : system.system_group.name %></td>
        <td>
	  <ul class="button-bar">
	    <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, system  %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_system_path(system) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, system, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  </ul>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
