<%= render :partial => "header", :object => {
  "entity" => @systems.first,
  "title" => "Systems",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New System",
    "path" => new_system_path,
    "ctrlAction" => :create
  }]
} %>

<%= form_for_filterrific @filterrific, html: { class:"col_12" } do |f| %>
  <div class="col_3">
    <label for="sys_search_query">Search</label>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :sys_search_query,
      class: 'filterrific-periodically-observed',
      id: 'sys_search_query'
    ) %>
  </div>
  <div class="col_3">
    <label for="sort_by">Sorted by</label>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], id: 'sort_by') %>
  </div>

  <div class="col_3">
    <label for="sys_group_select">System Group</label>
    <%= f.select( :with_system_group_id, @filterrific.select_options[:with_system_group_id], { include_blank: '- Any -' }, id: 'sys_group_select') %>
  </div>

  <div class="col_3 right">
    <%= link_to( 'Reset filters', reset_filterrific_url, class: "button" ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<div id="filterrific_table" class="col_12">
  <%= render(
    partial: 'systems/list',
    locals: { systems: @systems }
  ) %>
</div>

<div class="floatFix"></div>
