<p id="notice"><%= notice %></p>

<ul class="button-bar">
  <li><%= link_to 'Edit', edit_system_path(@system), class:"button" %></li>
  <li><%= link_to 'Back', systems_path, class:"button" %></li>
</ul>

<ul id="properties">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @system.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">URN</span>
      <span class="value"><%= @system.urn %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">OS</span>
      <span class="value"><%= @system.os %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Reboot Required?</span>
      <span class="value"><%= @system.reboot_required %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Address</span>
      <span class="value"><%= @system.address %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Last seen</span>
      <span class="value"><%= @system.last_seen %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">System Group</span>
      <span class="value"><%= link_to @system.system_group.name, @system.system_group %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Updates</span>
    </p>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Candidate Version</th>
      <th>System update state</th>
    </tr>
  </thead>
  <tbody>
    <% @system_updates.each do |system_update| %>
      <tr>
        <td><%= link_to system_update.package_update.package.name, system_update.package_update.package %></td>
        <td><%= link_to system_update.package_update.candidate_version, system_update.package_update %></td>
        <td><%= system_update.system_update_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
