<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Urn:</strong>
  <%= @system.urn %>
</p>

<p>
  <strong>Os:</strong>
  <%= @system.os %>
</p>

<p>
  <strong>Reboot required:</strong>
  <%= @system.reboot_required %>
</p>

<p>
  <strong>Address:</strong>
  <%= @system.address %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @system.last_seen %>
</p>

<p>
  <strong>System group:</strong>
  <%= @system.system_group.name %>
</p>

<p>
  <strong>Updates:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Candidate Version</th>
      <th>System update state</th>
    </tr>
  </thead>
  <tbody>
    <% @system_updates.each do |system_update| %>
      <tr>
        <td><%= link_to system_update.package_update.package.name, system_update.package_update.package %></td>
        <td><%= link_to system_update.package_update.candidate_version, system_update.package_update %></td>
        <td><%= system_update.system_update_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
