<p id="notice"><%= notice %></p>

<ul id="properties">
  <li>
    <div class="property">Name</div>
    <div class="value"><%= @system.name %></div>
  </li>
  <li>
    <div class="property">URN</div>
    <div class="value"><%= @system.urn %></div>
  </li>
  <li>
    <div class="property">OS</div>
    <div class="value"><%= @system.os %></div>
  </li>
  <li>
    <div class="property">Reboot Required?</div>
    <div class="value"><%= @system.reboot_required %></div>
  </li>
  <li>
    <div class="property">Address</div>
    <div class="value"><%= @system.address %></div>
  </li>
  <li>
    <div class="property">Last seen</div>
    <div class="value"><%= @system.last_seen %></div>
  </li>
  <li>
    <div class="property">System Group</div>
    <div class="value"><%= link_to @system.system_group.name, @system.system_group %></div>
  </li>
</ul>

<p>
  <strong>Updates:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Candidate Version</th>
      <th>System update state</th>
    </tr>
  </thead>
  <tbody>
    <% @system_updates.each do |system_update| %>
      <tr>
        <td><%= link_to system_update.package_update.package.name, system_update.package_update.package %></td>
        <td><%= link_to system_update.package_update.candidate_version, system_update.package_update %></td>
        <td><%= system_update.system_update_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
