<%= render :partial => "header", :object => {
  "title" => "System " + @system.name,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => systems_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_system_path(@system)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @system,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this system?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @system.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">URN</span>
      <span class="value"><%= @system.urn %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">OS</span>
      <span class="value"><%= @system.os %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Reboot Required?</span>
      <span class="value"><%= @system.reboot_required %></span>
    </p>
  </li>
</ul>
<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Address</span>
      <span class="value"><%= @system.address %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Last seen</span>
      <span class="value"><%= @system.last_seen %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">System Group</span>
      <span class="value"><%= link_to @system.system_group.name, @system.system_group %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Updates</span>
      <span class="value"><%= @system_updates.length %></span>
    </p>
  </li>
</ul>

<% if @system_updates.length %>
<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Candidate Version</th>
      <th>System update state</th>
    </tr>
  </thead>
  <tbody>
    <% @paginated_system_updates.each do |system_update| %>
      <tr>
        <td><%= link_to system_update.package_update.package.name, system_update.package_update.package %></td>
        <td><%= link_to system_update.package_update.candidate_version, system_update.package_update %></td>
        <td><%= system_update.system_update_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginated_system_updates %>
  </div>
  <%= will_paginate @paginated_system_updates, :container => false %>
</div>

<% end %>
