<header>
  <h1 class="col_9"><%= header["title"]  %></h1>
  <ul class="button-bar col_3">
    <% header["actions"].each do |action| %>
      <% if action["method"] && action["confirm"] %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"], method: action["method"], data: { confirm: action["confirm"] }  %></li>
      <% elsif action["method"] %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"], method: action["method"]  %></li>
      <% else %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"]  %></li>
      <% end %>
    <% end %>
  </ul>
</header>

<p id="notice"><%= notice %></p>
