<header>
  <h1 class="col_9"><%= header["title"]  %></h1>
  <ul class="button-bar col_3">
    <% header["actions"].each do |action| %>
      <% if action["method"] && action["confirm"] %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"], method: action["method"], data: { confirm: action["confirm"] }  %></li>
      <% elsif action["method"] %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"], method: action["method"]  %></li>
      <% else %>
        <li><%= link_to ('<i class="fa fa-' + action["icon"] + '"></i> ' + action["text"] ).html_safe, action["path"]  %></li>
      <% end %>
    <% end %>
  </ul>
</header>

<div id="notices">

  <% if success %>
    <div class="notice success">
      <i class="leftIcon fa fa-check"></i> <%= success %> <a href="#close" class="icon-remove"><i class="fa fa-close"></i></a>
     </div>
  <% end %>

  <% if warning %>
    <div class="notice warning">
      <i class="leftIcon fa fa-exclamation"></i> <%= warning %> <a href="#close" class="icon-remove"><i class="fa fa-close"></i></a>
     </div>
  <% end %>

  <% if info %>
    <div class="notice info">
      <i class="leftIcon fa fa-info"></i> <%= info %> <a href="#close" class="icon-remove"><i class="fa fa-close"></i></a>
    </div>
  <% end %>

  <% if error %>
    <div class="notice error">
      <i class="leftIcon fa fa-exclamation"></i> <%= error %> <a href="#close" class="icon-remove"><i class="fa fa-close"></i></a>
    </div>
  <% end %>

</div>
