<%= render :partial => "header", :object => {
  "title" => "Task States",
  "actions" =>[{
    "icon" => "plus",
    "text" => "New Task State",
    "path" => new_task_state_path
  }]
} %>

<table class="striped tight sortable clickableRows">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_states.each do |task_state| %>
      <tr>
        <td><%= task_state.name %></td>
        <td>
          <ul class="button-bar">
            <li><%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, task_state %></li>
            <li><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_task_state_path(task_state) %></li>
            <li><%= link_to '<i class="fa fa-remove"></i>'.html_safe, task_state, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
