<!DOCTYPE html>
<html>
  <head>
    <title>(<%= Rails.env %>) upd89 Control Center</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <ul class="menu">
      <% if current_user %>
        <li><%= link_to ('<i class="fa fa-tachometer"></i> Dashboard').html_safe, root_path %></li>
        <li><%= link_to ('<i class="fa fa-server"></i> Systems').html_safe, systems_path %></li>
        <li><%= link_to ('<i class="fa fa-globe"></i> System+Packages').html_safe, system_package_relations_path %></li>
        <li><%= link_to ('<i class="fa fa-archive"></i> Packages').html_safe, packages_path %></li>
        <li><a href=""><i class="fa fa-object-group"></i><span class="icon" data-icon="R"></span>Groups</a>
          <ul>
            <li><%= link_to 'System Groups', system_groups_path %></li>
            <li><%= link_to 'Package Groups', package_groups_path %></li>
          </ul>
        </li>
        <li><a href=""><i class="fa fa-users"></i>Users/Roles</a>
          <ul>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Roles', roles_path %></li>
            <% if can? :edit, current_user %>
            <li class="right"><%= link_to ('<i class="fa fa-pencil"></i> Edit Profile').html_safe, edit_user_path(current_user.id) %></li>
            <% end %>
          </ul>
        </li>
        <li><a href=""><i class="fa fa-check-square-o"></i></span>Jobs/Tasks</a>
          <ul>
            <li><%= link_to 'Jobs', jobs_path %></li>
            <li><%= link_to 'Tasks', tasks_path %></li>
          </ul>
        </li>
        <li class="right"><%= link_to ('<i class="fa fa-sign-out"></i> Logout').html_safe, :logout %></li>
      <% else %>
        <li><%= link_to ('<i class="fa fa-sign-in"></i> Login').html_safe, :login %></li>
      <% end %>
    </ul>

    <div class="grid" id="main">
      <%= yield %>
    </div>

  </body>
</html>
