<!DOCTYPE html>
<html>
<head>
  <title>Cc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
Configure:
<%= link_to 'Roles', roles_path %>
|
<%= link_to 'Users', users_path %>
|
<%= link_to 'Systemgroups', system_groups_path %>
|
<%= link_to 'Packagegroups', package_groups_path %>
|
<%= link_to 'System Update States', system_update_states_path %>
|
<%= link_to 'Task States', task_states_path %>
|
<%= link_to 'Group Assignments', group_assignments_path %>
<br />
Collected:
<%= link_to 'Systems', systems_path %>
|
<%= link_to 'Packages', packages_path %>
|
<%= link_to 'Package Installations', package_installations_path %>
|
<%= link_to 'Package Updates', package_updates_path %>
|
<%= link_to 'System Updates', system_updates_path %>
|
Jobs/Tasks:
<%= link_to 'Jobs', jobs_path %>
|
<%= link_to 'Tasks', tasks_path %>
|
<%= link_to 'Task Executions', task_executions_path %>
</div>

<%= yield %>

</body>
</html>
